<form  action="/login" method="post">
  <label>userName</label>
  <input type="text" name="username" value=""><br>

  <label>password</label>
  <input type="password" name="password" value=""><br>

  <button type="submit" name="button">Login</button>

</form>
<ul>
  <li><a href="/login">LogIn</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/logout">LogOut</a></li>
</ul>
